.outer2 {
    z-index: 10;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .middle2 {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner2 {
    margin-top: 20px;
    margin-bottom: 30px; 
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(126, 70, 255, 0.25) 0px 50px 100px -20px, rgba(69, 48, 255, 0.726) 0px 30px 60px -30px, rgba(64, 50, 255, 0.35) 0px -2px 6px 0px inset;
    transition-duration: 0.8s;
  }

  .inner2:hover{
    transition-duration: 0.8s;
    box-shadow: rgba(73, 91, 255, 0.685) 0px 50px 100px -20px, rgba(69, 48, 255, 0.726) 0px 30px 60px -30px, rgba(64, 50, 255, 0.35) 0px -2px 6px 0px inset;
  }

  .topic2{
    font-weight: bold;
    color:#6f00ff;
    
  }



  .my-button2{
    width: 25% !important;
    border-radius: 3px !important;
    height: 42px;
    border: 0;
    margin-left: 10px !important;
    color: white !important;
    text-transform: none;
    text-align: center;
    line-height: 0;
  }

  .my-button3{
    width: 8% !important;
    border-radius: 3px !important;
    height: 42px;
    border: 0;
    margin-left: 10px !important;
    color: white !important;
    text-transform: none;
    text-align: center;
    line-height: 0;
    padding: 5px !important;
    font-size: 20px !important;
    transition: 0.8s;
  }

  .btn-grad2 {
    transition: 0.5s !important;
    background-image: linear-gradient(to right, #6f00ff 0%, #6f00ff  51%, #2622ff  100%)
  }

  .btn-grad2:hover {
    background-image: linear-gradient(to right, #4400ff 0%, #0004ff  51%, #2622ff  100%)
  }


  .btn-grad3 {
    transition: 0.5s !important;
    background-image: linear-gradient(to right, #ff0000 0%, #ff002b  51%, #ff227e  100%)
  }

  .btn-grad3:hover {
    background-image: linear-gradient(to right, #ff0000 0%, #ff0000  51%, #ff2222  100%)
  }

  @media only screen and (min-width: 600px) {
    .inner2 {
      width: 600px;
    }
  }