  .nav-outer{
    border-bottom: solid #00FFFF 1px;
    border-left: solid #00FFFF 1px;
    width: 100%;
    margin: auto;
    font-family: Spirax;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 0px 0px 0px 25px;
  }

  .nav-outer h1{
    font-size: 60px;
    color: white;
  }

  .cu-nav-items{
    list-style: none;
    display: flex;
    margin-top: -12px;
    margin-left: 60%;
  }

  .cu-item{
    padding-left: 10px;
    background-color: black;
    padding-right: 10px;
  }

  .cu-item a{
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
  }

  .cu-item a:hover{
    color: #00FFFF;
    text-decoration: none;
  }


  .fa-user-circle{
    color: #00FFFF;
    font-size: 40px;
  }

  @media only screen and (max-width: 800px) {
    .cu-nav-items {
      margin-left: 40%;
    }
  }

  @media only screen and (max-width: 500px) {
    .cu-nav-items {
      margin-left: 20%;
    }
  }
  