body {
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 
    'poppins',
    sans-serif !important;
    background-color: rgb(0, 0, 0) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maincenter{
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}